@model ExpressVoitures.Models.Finition

@{
    ViewData["Title"] = "Supprimer";
}

<h1>Supprimer</h1>

<h3>Voulez-vous supprimer cette Finition ?</h3>
<div>
    <h4>Finition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibelleFinition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibelleFinition)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Modele)*@Finition attachée au Modèle
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modele.LibelleModele)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste des Finitions</a>
    </form>
</div>
