@model ExpressVoitures.Models.Finition

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails Finition</h1>

<div>
    @* <h4>Détails</h4> *@
    <hr />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modele.LibelleModele)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LibelleFinition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LibelleFinition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-secondary btn-sm">Editer</a>
    <a asp-action="Index" class="btn btn-outline-dark btn-sm">Retour à la liste des Finitions</a>
</div>
