@model ExpressVoitures.Models.Finition

@{
    ViewData["Title"] = "Editer";
}

<h1>Editer Finition</h1>

@* <h4>Editer</h4> *@
<hr />
<div id="dropDownListdiv" class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />            
            @*UPD11 (view) cascading dropdownlist Marque / Modele*@
            <div class="form-group">
                <label for="Marque">Marque :</label><br>
                @* @Html.DropDownList("Marque", (SelectList)ViewData["Marque"], "Sélectionner...", new { @class = "form-control" }) *@
                @{
                    //var MarqueDefault = ViewData["MarqueDefault"] as string;
                    var marqueSelectList = (SelectList)ViewData["Marque"];
                    List<SelectListItem> marqueSelectListItems = marqueSelectList.ToList();
                    marqueSelectListItems.Insert(0, (new SelectListItem { Text = "Sélectionner...", Value = "0", Selected = false }));
                }
                @Html.DropDownList("Marque", marqueSelectListItems, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="ModeleId" class="control-label">Modèle :</label>
                <select asp-for="ModeleId" class="form-control" asp-items="ViewBag.ModeleId">
                    <option value="0">Sélectionner...</option>
                </select>
                <span asp-validation-for="ModeleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibelleFinition" class="control-label"></label>
                <input asp-for="LibelleFinition" class="form-control" />
                <span asp-validation-for="LibelleFinition" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input type="submit" value="Sauvegarder Finition" class="btn btn-success btn-sm" />
                <a asp-action="Index" class="btn btn-outline-dark btn-sm">Retour à la liste des Finitions</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("#dropDownListdiv").on("change", "select", function () {
                var value = $(this).val();
                var id = $(this).attr("id");
                //debugger;
                $.post("@Url.Action("setDropDrownList")", { type: id, value: value }, function (data) {
                    switch (id) {
                        case "Marque":
                            //debugger;
                            PopulateDropDown("#ModeleId", data);                            
                            break;
                        case "ModeleId":
                            //debugger;
                            PopulateDropDown("#Marque", data);                            
                            break;
                    }
                });
            });
        });
        function PopulateDropDown(dropDownId, list) {
            $(dropDownId).empty();
            $(dropDownId).append("<option>Sélectionner...</option>");
            //debugger;
            $.each(list, function (index, row) {
                if (index == 0) {
                    $(dropDownId).append("<option value='" + row.value + "' selected='selected'>" + row.text + "</option>");
                } else {
                    $(dropDownId).append("<option value='" + row.value + "'>" + row.text + "</option>");
                }
            });
        }
    </script>
}