@model ExpressVoitures.Models.Reparation

@{
    ViewData["Title"] = "Supprimer";
}

<h1>Supprimer Réparation</h1>

<h3>Voulez-vous supprimer cette Réparation ?</h3>
<div>
    @* <h4>Réparation</h4> *@
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibelleReparation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibelleReparation)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-light btn-sm">Retour à la liste des Réparations</a>
    </form>
</div>
