@model ExpressVoitures.Models.Reparation

@{
    ViewData["Title"] = "Supprimer";
}

<h3>Supprimer Réparation</h3>

<h4>Voulez-vous supprimer cette Réparation ?</h4>
<div class="row">
    <div class="col-md-4">
        @* <h4>Réparation</h4> *@    
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.LibelleReparation)
            </dt>
            <dd class = "col-sm-10">
                &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.LibelleReparation)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" value="Supprimer" class="btn btn-danger" /> 
                <a asp-action="Index" class="btn btn-outline-dark btn-sm">Liste des Réparations</a>
            </div>
        </form>
    </div>
</div>
