@model ExpressVoitures.Models.Modele

@{
    ViewData["Title"] = "Supprimer";
}

<h1>Supprimer Modèle</h1>

<h3>Voulez-vous supprimer ce Modèle ?</h3>
<div>
    @* <h4> Modèle </h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibelleModele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibelleModele)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Marque)*@Modèle attaché à la marque
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque.LibelleMarque)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste des Modèles</a>
    </form>
</div>
