@model ExpressVoitures.Models.Vehicule

@{
    ViewData["Title"] = "Créer";
}
<h1>Créer Voiture</h1>

@* <h4>Voiture</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        @* FIX07 Image support add enctype="multipart/form-data" to form tag for file upload *@
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="Statut" class="control-label"></label> *
                @*FIX001.1 displays enum values list OLD ==> <select asp-for="Statut" class="form-control"></select>*@
                <select asp-for="Statut" class="form-control" asp-items="Html.GetEnumSelectList<VehiculeStatuts>()">                 
                </select>
                <span asp-validation-for="Statut" class="text-danger"></span>
            </div>                        
            <div class="form-group">
                <label asp-for="Vin" class="control-label"></label> *
                <input asp-for="Vin" class="form-control" />
                <span asp-validation-for="Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnneeVehicule" class="control-label"></label> *
                <input asp-for="AnneeVehicule" class="form-control" value="@ViewData["CarYearMinimum"]" />
                <span asp-validation-for="AnneeVehicule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinitionId" class="control-label"></label> *
                <select asp-for="FinitionId" class="form-control" asp-items="ViewBag.FinitionId">
                    <option value="0">Sélectionner...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Information" class="control-label"></label>
                <input asp-for="Information" class="form-control" />
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAchat" class="control-label"></label> *
                <input asp-for="DateAchat" class="form-control" />
                <span asp-validation-for="DateAchat" class="text-danger"></span>                
            </div>
            <div class="form-group">
                <label asp-for="DateMisEnVente" class="control-label"></label>
                <input asp-for="DateMisEnVente" class="form-control" />
                <span asp-validation-for="DateMisEnVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateVente" class="control-label"></label>
                <input asp-for="DateVente" class="form-control" />
                <span asp-validation-for="DateVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixAchat" class="control-label"></label> *
                <input asp-for="PrixAchat" class="form-control" />
                <span asp-validation-for="PrixAchat" class="text-danger"></span>
            </div>
            @* TD12 : Vehicule Edit, add reparations*@
            <div class="form-group">
                <label asp-for="Marge" class="control-label"></label>
                @if (ViewData["MargisMinimum"] != null)
                {
                    var margisMinimum = ViewData["MargisMinimum"];
                }
                <input asp-for="Marge" class="form-control" value="@ViewBag.margisMinimum" />
                <span asp-validation-for="Marge" class="text-danger"></span>
            </div>
            @* TD13 : Vehicule Edit, PrixDeVente (readonly) = PrixDAchat + Marge *@
            <div class="form-group">
                <label asp-for="PrixDeVente" class="control-label"></label>
                <input asp-for="PrixDeVente" class="form-control" />
                <span asp-validation-for="PrixDeVente" class="text-danger"></span>
            </div>                                  
            @* UPD13.5 create view image support*@
            <div class="form-group">
                <label asp-for="Image.File" class="control-label"></label>
                @if (ViewData["Image"] != null)
                {
                    Image myImage = (Image)ViewData["Image"];
                    <span>(<a target="_blank" href="@Url.Content($"~/{myImage.Path}")">@myImage.Name</a>)</span>
                }
                <input type="file" asp-for="Image.File" class="form-control" />
                <span asp-validation-for="Image.File" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Sauvegarder Voiture" class="btn btn-success btn-sm" />                
                <a asp-action="Index" class="btn btn-outline-dark btn-sm">Retour à la liste des Voitures</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
