@model ExpressVoitures.Models.Marque

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails Marque</h1>

<div>
    @* <h4>Marque</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibelleMarque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibelleMarque)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editer</a> |
    <a asp-action="Index">Retour à la liste des Marques</a>
</div>
