@model ExpressVoitures.Models.Marque

@{
    ViewData["Title"] = "Editer";
}

<h1>Editer Marque</h1>

@* <h4>Marque</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LibelleMarque" class="control-label"></label>
                <input asp-for="LibelleMarque" class="form-control" />
                <span asp-validation-for="LibelleMarque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder Marque" class="btn btn-success btn-sm" />
                <a asp-action="Index" class="btn btn-outline-dark btn-sm">Retour à la liste des Marques</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
